    /**
     * Returns the PHP configuration file (php.ini) path.
     *
     * @return string|false php.ini file path
     */

    public function getPhpIniConfigPath()
    {
        return get_cfg_var('cfg_file_path');
    }
