    /**
     * Returns whether the requirement is fulfilled.
     *
     * @return bool true if fulfilled, otherwise false
     */

    public function isFulfilled()
    {
        return $this->fulfilled;
    }
