    /**
     * Gets the current RequirementCollection as an Iterator.
     *
     * @return Traversable A Traversable interface
     */

    public function getIterator()
    {
        return new ArrayIterator($this->requirements);
    }
