    /**
     * Adds a Requirement.
     *
     * @param Requirement $requirement A Requirement instance
     */

    public function add(Requirement $requirement)
    {
        $this->requirements[] = $requirement;
    }
